<div class="holud">
  
  <div class="logo" (click)="goHome()">
      <img src="assets/Logo.png" alt="logo" />
    </div>
    <div class="slider-container">
    <div class="slider" [style.transform]="'translateX(' + transformValue + 'px)'">
      <div class="slide" *ngFor="let image of images">
        <img [src]="image" alt="Slide">
      </div>
    </div>
    <button button class="slider-button" (click)="previousSlide()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button button class="slider-button" (click)="nextSlide()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <button mat-icon-button class="back" (click)="goBack()">
    <mat-icon>chevron_left</mat-icon>
  </button>


    
  </div>
